body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background: #f0f0f0;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background: #2d89ef;
  color: white;
  border-radius: 8px;
}

.sound-control {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
